<div class="container-fluid">
	<div class="row">
		<div class="card col-md-12">
			<div class="header">
				<h4 class="title">Registro de Linea de Presuesto</h4>
				<p class="category">Ingresar la informacion correspondiente al
					presupuesto asignado</p>
			</div>
			<div class="content">
				<div class="row">
					<form
						(submit)="formCabeceraPresupuesto.form.valid && guardarDatosCabeceraPresupuesto()"
						#formCabeceraPresupuesto="ngForm" novalidate>

						<div class="col-md-4">
							<div class="card">
								<div class="content">

									<div class="form-group">
										<label for="idAnio">A&ntilde;o: *</label> <select
											class="form-control"
											[(ngModel)]="cabeceraPresupuesto.cpIdAnio.cpIdCatalogo"
											name="idAnio" #idAnio="ngModel" required>
											<option *ngFor="let catalogo of lstCodigoCatalogoAnio"
												[value]="catalogo.cpIdCatalogo">{{catalogo.cpCodigoCatalogo}}</option>
										</select>
										<bi-errors [control]="idAnio" ngClass="text-danger"></bi-errors>
									</div>
									<div class="form-group">
										<label for="idCuentaContable">Cuenta Contable: *</label> <select
											class="form-control"
											[(ngModel)]="cabeceraPresupuesto.cpIdCuentaContable.cpIdCatalogo"
											name="idCuentaContable" #idCuentaContable="ngModel" required>
											<option
												*ngFor="let catalogo of lstCodigoCatalogoCuentaContable"
												[value]="catalogo.cpIdCatalogo">{{catalogo.cpCodigoCatalogo}}
												- {{catalogo.cpCampo3}}</option>
										</select>
										<bi-errors [control]="idCuentaContable" ngClass="text-danger"></bi-errors>
									</div>
									<div class="form-group">
										<label for="idArea">&Aacute;rea: *</label> <select
											class="form-control"
											[(ngModel)]="cabeceraPresupuesto.cpIdArea.cpIdCatalogo"
											name="idArea" #idArea="ngModel" required>
											<option *ngFor="let catalogo of lstCodigoCatalogoArea"
												[value]="catalogo.cpIdCatalogo">{{catalogo.cpCodigoCatalogo}}</option>
										</select>
										<bi-errors [control]="idArea" ngClass="text-danger"></bi-errors>
									</div>
									<div class="form-group">
										<label for="idCentroCosto">Centro de Costo: *</label> <select
											class="form-control"
											[(ngModel)]="cabeceraPresupuesto.cpIdCentroCosto.cpIdCatalogo"
											name="idCentroCosto" #idCentroCosto="ngModel" required>
											<option *ngFor="let catalogo of lstCodigoCatalogoCentroCosto"
												[value]="catalogo.cpIdCatalogo">{{catalogo.cpCodigoCatalogo}}</option>
										</select>
										<bi-errors [control]="idCentroCosto" ngClass="text-danger"></bi-errors>
									</div>
									<div class="form-group">
										<label for="idServicio">Servicio: *</label> <select
											class="form-control"
											[(ngModel)]="cabeceraPresupuesto.cpIdServicio.cpIdCatalogo"
											name="idServicio" #idServicio="ngModel" required>
											<option *ngFor="let catalogo of lstCodigoCatalogoServicio"
												[value]="catalogo.cpIdCatalogo">{{catalogo.cpCodigoCatalogo}}</option>
										</select>
										<bi-errors [control]="idServicio" ngClass="text-danger"></bi-errors>
									</div>
									<div class="form-group">
										<label for="idUsuarioResponsable">Responsable: *</label> <select
											class="form-control"
											[(ngModel)]="cabeceraPresupuesto.cpIdUsuarioResponsable.cpIdCatalogo"
											name="idUsuarioResponsable" #idUsuarioResponsable="ngModel"
											required>
											<option *ngFor="let catalogo of lstCodigoCatalogoResponsable"
												[value]="catalogo.cpIdCatalogo">{{catalogo.cpCodigoCatalogo}}</option>
										</select>
										<bi-errors [control]="idUsuarioResponsable"
											ngClass="text-danger"></bi-errors>
									</div>

								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="card">
								<div class="content">
									<div class="form-group">
										<label for="proposito">Prop&oacute;sito</label>
										<textarea type="text" class="form-control"
											[(ngModel)]="cabeceraPresupuesto.cpProposito"
											name="proposito" #proposito="ngModel"></textarea>
										<bi-errors [control]="proposito" ngClass="text-danger"></bi-errors>
									</div>
									<div class="form-group">
										<label for="detalles">Detalle</label>
										<textarea type="text" class="form-control"
											[(ngModel)]="cabeceraPresupuesto.cpDetalles" name="detalles"
											#detalles="ngModel"></textarea>
										<bi-errors [control]="detalles" ngClass="text-danger"></bi-errors>
									</div>
									<div class="form-group">
										<label for="presupuestoAnioAnterior">Presupuesto
											A&ntilde;o Anterior: *</label> <input type="text"
											class="form-control"
											[(ngModel)]="cabeceraPresupuesto.cpPresupuestoAnioAnterior"
											name="presupuestoAnioAnterior"
											#presupuestoAnioAnterior="ngModel" required>
										<bi-errors [control]="presupuestoAnioAnterior"
											ngClass="text-danger"></bi-errors>
									</div>
									<div class="form-group">
										<label for="realPagadoAnioAnterior">Real Pagado
											A&ntilde;o Anterior: *</label> <input type="text"
											class="form-control"
											[(ngModel)]="cabeceraPresupuesto.cpPresupuestoPagadoAnioAnterior"
											name="realPagadoAnioAnterior"
											#realPagadoAnioAnterior="ngModel" required>
										<bi-errors [control]="realPagadoAnioAnterior"
											ngClass="text-danger"></bi-errors>
									</div>
									<div class="form-group">
										<label for="presupuestoActual">Presupuesto Actual: *</label> <input
											type="text" class="form-control"
											[(ngModel)]="cabeceraPresupuesto.cpPresupuestoAnioActual"
											name="presupuestoActual" #presupuestoActual="ngModel"
											required readonly>
										<bi-errors [control]="presupuestoActual"
											ngClass="text-danger"></bi-errors>
									</div>
									<div class="form-group">
										<label for="baseCero">Base Cero: *</label> <input type="text"
											class="form-control"
											[(ngModel)]="cabeceraPresupuesto.cpBaseCero" name="baseCero"
											#baseCero="ngModel" required (change)=sumar()>
										<bi-errors [control]="baseCero" ngClass="text-danger"></bi-errors>
									</div>

								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card">
								<div class="content">
									<div class="form-group">
										<div class="form-group">
											<label for="crecimiento">Crecimiento: *</label> <input
												type="text" class="form-control"
												[(ngModel)]="cabeceraPresupuesto.cpCrecimiento"
												name="crecimiento" #crecimiento="ngModel" required
												(change)=sumar()>
											<bi-errors [control]="crecimiento" ngClass="text-danger"></bi-errors>
										</div>
										<label for="idTopologia">Tipolog&iacute;a: *</label> <select
											class="form-control"
											[(ngModel)]="cabeceraPresupuesto.cpIdTopologia.cpIdCatalogo"
											name="idTopologia" #idTopologia="ngModel" required>
											<option *ngFor="let catalogo of lstCodigoCatalogoTipologia"
												[value]="catalogo.cpIdCatalogo">{{catalogo.cpCodigoCatalogo}}</option>
										</select>
										<bi-errors [control]="idTopologia" ngClass="text-danger"></bi-errors>
									</div>
									<div class="form-group">
										<label for="idTipoGasto">Tipo Gasto: *</label> <select
											class="form-control"
											[(ngModel)]="cabeceraPresupuesto.cpIdTipoGasto.cpIdCatalogo"
											name="idTipoGasto" #idTipoGasto="ngModel" required>
											<option *ngFor="let catalogo of lstCodigoCatalogoTipoGasto"
												[value]="catalogo.cpIdCatalogo">{{catalogo.cpCodigoCatalogo}}</option>
										</select>
										<bi-errors [control]="idTipoGasto" ngClass="text-danger"></bi-errors>
									</div>
									<div class="form-group">
										<label for="idEstado">Estado: *</label> <select
											class="form-control"
											[(ngModel)]="cabeceraPresupuesto.cpIdEstado.cpIdCatalogo" name="idEstado"
											#idEstado="ngModel" required>
											<option *ngFor="let catalogo of lstCodigoCatalogoEstado"
												[value]="catalogo.cpIdCatalogo">{{catalogo.cpCodigoCatalogo}}</option>
										</select>
										<bi-errors [control]="idEstado" ngClass="text-danger"></bi-errors>
									</div>
									<div class="form-group">
										<label for="idTipoEjecucion">Tipo Ejecuci&oacute;n: *</label>
										<select class="form-control"
											[(ngModel)]="cabeceraPresupuesto.cpIdTipoEjecucion.cpIdCatalogo"
											name="idTipoEjecucion" #idTipoEjecucion="ngModel">
											<option
												*ngFor="let catalogo of lstCodigoCatalogoTipoEjecucion"
												[value]="catalogo.cpIdCatalogo">{{catalogo.cpCodigoCatalogo}}</option>
										</select>
										<bi-errors [control]="idTipoEjecucion" ngClass="text-danger"></bi-errors>
									</div>
									<div class="form-group">
										<label for="idFuncion">Funci&oacute;n: *</label> <select
											class="form-control"
											[(ngModel)]="cabeceraPresupuesto.cpIdFuncion.cpIdCatalogo" name="idFuncion"
											#idFuncion="ngModel">
											<option *ngFor="let catalogo of lstCodigoCatalogoFuncion"
												[value]="catalogo.cpIdCatalogo">{{catalogo.cpCodigoCatalogo}}</option>
										</select>
										<bi-errors [control]="idFuncion" ngClass="text-danger"></bi-errors>
									</div>
								</div>
							</div>
						</div>


						<div class="col-md-12">
							<h3
								class="card-header text-center font-weight-bold text-uppercase py-4">Planificacion
								de pagos</h3>
							<div class="card-body">
								<div id="table" class="table-editable">
									<table
										class="table table-bordered table-responsive-md table-striped text-center">
										<thead>
											<tr>
												<th class="text-center">Enero</th>
												<th class="text-center">Febrero</th>
												<th class="text-center">Marzo</th>
												<th class="text-center">Abril</th>
												<th class="text-center">Mayo</th>
												<th class="text-center">Junio</th>
												<th class="text-center">Julio</th>
												<th class="text-center">Agosto</th>
												<th class="text-center">Septiembre</th>
												<th class="text-center">Octubre</th>
												<th class="text-center">Noviembre</th>
												<th class="text-center">Diciembre</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="pt-3-half"><div contenteditable="true"
														ngDefaultControl
														[(ngModel)]="cabeceraPresupuesto.cpProyeccionPagoEnero"
														name="cpProyeccionPagoEnero"
														#cpProyeccionPagoEnero="ngModel"></div></td>
												<td class="pt-3-half"><div contenteditable="true"
														ngDefaultControl
														[(ngModel)]="cabeceraPresupuesto.cpProyeccionPagoFebrero"
														name="cpProyeccionPagoFebrero"
														#cpProyeccionPagoFebrero="ngModel"></div></td>
												<td class="pt-3-half"><div contenteditable="true"
														ngDefaultControl
														[(ngModel)]="cabeceraPresupuesto.cpProyeccionPagoMarzo"
														name="cpProyeccionPagoMarzo"
														#cpProyeccionPagoMarzo="ngModel"></div></td>
												<td class="pt-3-half"><div contenteditable="true"
														ngDefaultControl
														[(ngModel)]="cabeceraPresupuesto.cpProyeccionPagoAbril"
														name="cpProyeccionPagoAbril"
														#cpProyeccionPagoAbril="ngModel"></div></td>
												<td class="pt-3-half"><div contenteditable="true"
														ngDefaultControl
														[(ngModel)]="cabeceraPresupuesto.cpProyeccionPagoMayo"
														name="cpProyeccionPagoMayo"
														#cpProyeccionPagoMayo="ngModel"></div></td>
												<td class="pt-3-half"><div contenteditable="true"
														ngDefaultControl
														[(ngModel)]="cabeceraPresupuesto.cpProyeccionPagoJunio"
														name="cpProyeccionPagoJunio"
														#cpProyeccionPagoJunio="ngModel"></div></td>
												<td class="pt-3-half"><div contenteditable="true"
														ngDefaultControl
														[(ngModel)]="cabeceraPresupuesto.cpProyeccionPagoJulio"
														name="cpProyeccionPagoJulio"
														#cpProyeccionPagoJulio="ngModel"></div></td>
												<td class="pt-3-half"><div contenteditable="true"
														ngDefaultControl
														[(ngModel)]="cabeceraPresupuesto.cpProyeccionPagoAgosto"
														name="cpProyeccionPagoAgosto"
														#cpProyeccionPagoAgosto="ngModel"></div></td>
												<td class="pt-3-half"><div contenteditable="true"
														ngDefaultControl
														[(ngModel)]="cabeceraPresupuesto.cpProyeccionPagoSeptiembre"
														name="cpProyeccionPagoSeptiembre"
														#cpProyeccionPagoSeptiembre="ngModel"></div></td>
												<td class="pt-3-half"><div contenteditable="true"
														ngDefaultControl
														[(ngModel)]="cabeceraPresupuesto.cpProyeccionPagoOctubre"
														name="cpProyeccionPagoOctubre"
														#cpProyeccionPagoOctubre="ngModel"></div></td>
												<td class="pt-3-half"><div contenteditable="true"
														ngDefaultControl
														[(ngModel)]="cabeceraPresupuesto.cpProyeccionPagoNoviembre"
														name="cpProyeccionPagoNoviembre"
														#cpProyeccionPagoNoviembre="ngModel"></div></td>
												<td class="pt-3-half"><div contenteditable="true"
														ngDefaultControl
														[(ngModel)]="cabeceraPresupuesto.cpProyeccionPagoDiciembre"
														name="cpProyeccionPagoDiciembre"
														#cpProyeccionPagoDiciembre="ngModel"></div></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<button type="submit" class="btn btn-fill btn-warning">Guardar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
