<div class="limiter animated fadeInLeft">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form (ngSubmit)="onSubmit(fl)" #fl="ngForm" class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title p-b-51">
                    <img class="mb-4" src="./assets/img/baninter.jpg" alt="" width="250" height="250">                    
                </span>

                <span *ngIf="fl.submitted && fl.controls['username'].errors" class="text-danger" Usuario no
                    valido></span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="text" name="username" [(ngModel)]="usuario.usNombreUsuario" required
                        [minlength]="8" placeholder="Username">

                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 m-b-16" data-validate="Password is required">
                    <input class="input100" type="password" name="pass" [(ngModel)]="usuario.usClaveUsuario" required
                        [minlength]="8" placeholder="Password">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn " type="submit">
                        Ingresar
                    </button>
                </div>
                <span class="login100-form-title p-b-51">
                <br/><br/>
                    <h3 class="h3 mb-3 font-weight-normal">M&oacute;dulo de Gesti&oacute;n de Presupuesto de TI</h3>
                </span>
            </form>
        </div>
    </div>
</div>