<div class="container-fluid">
	<div class="row">
		<div class="card col-md-12">
			<div class="header">
				<h4 class="title">Registro de Catalogos</h4>
				<p class="category">Ingresar la informacion de catalogos</p>
			</div>
			<div class="content">
				<div class="row">
					<form (submit)="formCatalogo.form.valid && enviarDatosCatalogo()"
						#formCatalogo="ngForm" novalidate>

						<div class="col-md-6">
							<div class="card">
								<div class="content">

									<div class="form-group">
										<label for="idTipoCatalogo">Cat&aacute;logo: *</label> <select
											class="form-control border-input" [(ngModel)]="catalogo.cpCampo11"
											name="cpCampo11" #cpCampo11="ngModel" required (change)=validarTipoCatalogo()>
											<option *ngFor="let catalogo of lstCatalogoPadre"
												[value]="catalogo.cpIdCatalogo">{{catalogo.cpCodigoCatalogo}}</option>
										</select>
										<bi-errors [control]="cpCampo11" ngClass="text-danger"></bi-errors>
									</div>
									
									<div class="form-group" *ngIf="flagTipoGasto">
										<label for="idTipoCatalogo">Tipo Gasto: *</label> <select
											class="form-control border-input" [(ngModel)]="catalogo.cpCampo10"
											name="cpCampo10" #cpCampo11="ngModel" required >
											<option *ngFor="let catalogo of lstCatalogoTipoGasto"
												[value]="catalogo.cpIdCatalogo">{{catalogo.cpCodigoCatalogo}}</option>
										</select>
										<bi-errors [control]="cpCampo10" ngClass="text-danger"></bi-errors>
									</div>

									
									
									<div class="form-group">
										<label for="subcatalogo">Sub-cat&aacute;logo: * </label>
										<textarea type="text" class="form-control border-input"
											[(ngModel)]="catalogo.cpCodigoCatalogo" name="cpCodigoCatalogo"
											#cpCodigoCatalogo="ngModel" required></textarea>
										<bi-errors [control]="cpCodigoCatalogo" ngClass="text-danger"></bi-errors>
									</div>

									<div class="form-group">
										<label for="detalleAdicional">Detalle adicional: </label>
										<textarea type="text" class="form-control border-input"
											[(ngModel)]="catalogo.cpCampo3" name="cpCampo3"
											#cpCampo3="ngModel"></textarea>
										<bi-errors [control]="cpCampo3"
											ngClass="text-danger"></bi-errors>
									</div>

									<div class="form-group form-check">
										<label class="form-check-label" for="flagFactura">
											Genera factura: </label> &nbsp; &nbsp; <input type="checkbox"
											id="flagFactura" [(ngModel)]="flagFactura" name="flagFactura">
									</div>

									<div class="form-group form-check" *ngIf="flagFactura">
										<label class="form-check-label" for="facturaLocal">Factura
											del Exterior:</label>&nbsp; &nbsp; <input type="checkbox"
											class="form-check-input" id="facturaLocal"
											[(ngModel)]="facturaLocal" name="facturaLocal">
									</div>

									<div class="form-group form-check">
										<label class="form-check-label" for="estado">Activo:</label>&nbsp;
										&nbsp; <input type="checkbox" class="form-check-input"
											id="estado" [(ngModel)]="catalogo.cpestado" name="estado">
									</div>
								</div>
							</div>							
							<button type="submit" class="btn btn-fill btn-warning">Guardar</button>
						</div>
						
					</form>
				</div>
			</div>
		</div>
	</div>
</div>