<div class="container-fluid">
	<div class="row">
		<div class="card col-md-12">
			<div class="header">
				<h4 class="title">Consumo de presupuesto</h4>
				<p class="category">Por Cuenta</p>
			</div>
			<div class="content">
				<div class="row">
				<div class="ps" style="position: relative;height: 600px;" [perfectScrollbar]="config">
					<table class="table table-bordered" *ngIf="lstReporteConsumoCuenta.length > 0">
						<thead>
							<tr>
								<th scope="rowgroup" rowspan="2">Cuenta Contable</th>								
								<th scope="rowgroup" rowspan="2">$ Asignado</th>
								<th colspan="3" scope="colgroup" style="text-align:center;">Enero</th>
								<th colspan="3" scope="colgroup" style="text-align:center;">Febrero</th>
								<th colspan="3" scope="colgroup" style="text-align:center;">Marzo</th>
								<th colspan="3" scope="colgroup" style="text-align:center;">Abril</th>
								<th colspan="3" scope="colgroup" style="text-align:center;">Mayo</th>
								<th colspan="3" scope="colgroup" style="text-align:center;">Junio</th>
								<th colspan="3" scope="colgroup" style="text-align:center;">Julio</th>
								<th colspan="3" scope="colgroup" style="text-align:center;">Agosto</th>
								<th colspan="3" scope="colgroup" style="text-align:center;">Septiembre</th>
								<th colspan="3" scope="colgroup" style="text-align:center;">Octubre</th>
								<th colspan="3" scope="colgroup" style="text-align:center;">Noviembre</th>
								<th colspan="3" scope="colgroup" style="text-align:center;">Diciembre</th>
							</tr>
							<tr>
								<th scope="col">Proyeccion</th>
								<th scope="col">Gastado</th>
								<th scope="col">Diferencia</th>
								<th scope="col">Proyeccion</th>
								<th scope="col">Gastado</th>
								<th scope="col">Diferencia</th>
								<th scope="col">Proyeccion</th>
								<th scope="col">Gastado</th>
								<th scope="col">Diferencia</th>
								<th scope="col">Proyeccion</th>
								<th scope="col">Gastado</th>
								<th scope="col">Diferencia</th>
								<th scope="col">Proyeccion</th>
								<th scope="col">Gastado</th>
								<th scope="col">Diferencia</th>
								<th scope="col">Proyeccion</th>
								<th scope="col">Gastado</th>
								<th scope="col">Diferencia</th>
								<th scope="col">Proyeccion</th>
								<th scope="col">Gastado</th>
								<th scope="col">Diferencia</th>
								<th scope="col">Proyeccion</th>
								<th scope="col">Gastado</th>
								<th scope="col">Diferencia</th>
								<th scope="col">Proyeccion</th>
								<th scope="col">Gastado</th>
								<th scope="col">Diferencia</th>
								<th scope="col">Proyeccion</th>
								<th scope="col">Gastado</th>
								<th scope="col">Diferencia</th>
								<th scope="col">Proyeccion</th>
								<th scope="col">Gastado</th>
								<th scope="col">Diferencia</th>
								<th scope="col">Proyeccion</th>
								<th scope="col">Gastado</th>
								<th scope="col">Diferencia</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let lista of lstReporteConsumoCuenta">
								<td>{{lista.cuentaContable}}</td>
								<td style="text-align:right;">{{lista.presupuestoAsignado | currency}}</td>
								<td style="text-align:right;">{{lista.proyeccionEnero | currency}}</td>
								<td style="text-align:right;">{{lista.gastadoEnero | currency}}</td>
								<td style="text-align:right;">{{lista.diferenciaEnero | currency}}</td>
								<td style="text-align:right;">{{lista.proyeccionFebrero | currency}}</td>
								<td style="text-align:right;">{{lista.gastadoFebrero | currency}}</td>
								<td style="text-align:right;">{{lista.diferenciaFebrero | currency}}</td>
								<td style="text-align:right;">{{lista.proyeccionMarzo | currency}}</td>
								<td style="text-align:right;">{{lista.gastadoMarzo | currency}}</td>
								<td style="text-align:right;">{{lista.diferenciaMarzo | currency}}</td>
								<td style="text-align:right;">{{lista.proyeccionAbril | currency}}</td>
								<td style="text-align:right;">{{lista.gastadoAbril | currency}}</td>
								<td style="text-align:right;">{{lista.diferenciaAbril | currency}}</td>
								<td style="text-align:right;">{{lista.proyeccionMayo | currency}}</td>
								<td style="text-align:right;">{{lista.gastadoMayo | currency}}</td>
								<td style="text-align:right;">{{lista.diferenciaMayo | currency}}</td>
								<td style="text-align:right;">{{lista.proyeccionJunio | currency}}</td>
								<td style="text-align:right;">{{lista.gastadoJunio | currency}}</td>
								<td style="text-align:right;">{{lista.diferenciaJunio | currency}}</td>
								<td style="text-align:right;">{{lista.proyeccionJulio | currency}}</td>
								<td style="text-align:right;">{{lista.gastadoJulio | currency}}</td>
								<td style="text-align:right;">{{lista.diferenciaJulio | currency}}</td>
								<td style="text-align:right;">{{lista.proyeccionAgosto | currency}}</td>
								<td style="text-align:right;">{{lista.gastadoAgosto | currency}}</td>
								<td style="text-align:right;">{{lista.diferenciaAgosto | currency}}</td>
								<td style="text-align:right;">{{lista.proyeccionSeptiembre | currency}}</td>
								<td style="text-align:right;">{{lista.gastadoSeptiembre | currency}}</td>
								<td style="text-align:right;">{{lista.diferenciaSeptiembre | currency}}</td>
								<td style="text-align:right;">{{lista.proyeccionOctubre | currency}}</td>
								<td style="text-align:right;">{{lista.gastadoOctubre | currency}}</td>
								<td style="text-align:right;">{{lista.diferenciaOctubre | currency}}</td>
								<td style="text-align:right;">{{lista.proyeccionNoviembre | currency}}</td>
								<td style="text-align:right;">{{lista.gastadoNoviembre | currency}}</td>
								<td style="text-align:right;">{{lista.diferenciaNoviembre | currency}}</td>
								<td style="text-align:right;">{{lista.proyeccionDiciembre | currency}}</td>
								<td style="text-align:right;">{{lista.gastadoDiciembre | currency}}</td>
								<td style="text-align:right;">{{lista.diferenciaDiciembre | currency}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>