<div class="container-fluid">
  <div class="row">

    <div class="card col-md-12" >
      <div class="header">
        <h4 class="title">Listado de Proveedores Registrados</h4>
        <br>
      </div>
      <div class="content">
        
       
      </div>
    </div>

    <div class="card col-md-12" >
      <div class="header">
        <h4 class="title">Creaci&oacute;n / Actualizaci&oacute;n de Proveedores</h4>
      </div>
      <div class="content">
        <div class="row">
          <div class="row">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>