<div class="sidebar-wrapper">
	<div class="logo">
		<a href="https://www.bancointernacional.com.ec" class="simple-text">
			<div class="logo-img">
				<img src="./assets/img/baninter.jpg" alt="">
			</div> MENU
		</a>
	</div>
	<ul class="nav">
		<li routerLinkActive="active"><a routerLink="/home/catalogo"><i></i>
				<p>Cat&aacute;logos</p></a></li>
		<li routerLinkActive="active"><a
			routerLink="/home/listar-catalogo"><i></i>
				<p>Lista Cat&aacute;logos</p></a></li>
		<li routerLinkActive="active"><a
			routerLink="/home/cabecera-presupuesto"><i></i>
				<p>L&iacute;nea Presupuesto</p></a></li>
		<li routerLinkActive="active"><a
			routerLink="/home/cabecera-presupuesto-lista"><i></i>
				<p>Lista Presupuestos</p></a></li>
		<li routerLinkActive="active"><a
			routerLink="/home/reporte-gasto-cuenta"><i></i>
				<p>Reporte de Consumo por Cuenta</p></a></li>

		<li class="active-pro"><a (click)="Logout()"><p>Salir</p></a></li>
	</ul>

</div>
