<div class="container-fluid">
	<div class="row">
		<div class="card col-md-12">
			<div class="header">
				<h4 class="title">Archivo de facturas aprobadas para Control Interno</h4>
				<p class="category">En esta pantalla se genera un zip con el Reporte para Control Interno y sus respectivos soportes.</p>
			</div>
			<div class="content">
				<div class="row">
					<form (submit)="formGenerarArchivoCI.valid && generarArchivo()" #formGenerarArchivoCI="ngForm"
						novalidate>
						<div class="content">
							<div class="row">
								<div class="card-deck col-md-4">
									<div class="card">
										<div class="content">

											<div class="btn-group">
												<button type="submit" class="btn btn-fill btn-warning">Generar
													Archivo</button>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>